body{
    background-image: url(\(06\)Premium.jpg);
    background-size: cover;
    margin: 0;
}
header{
    background:rgba(0, 0, 0, 0.5);
    height: 61px;
    font-family:  Arial, Helvetica, sans-serif;
}
.kiwo{
    float: left;
}
.kiwo img{
    width: 150px;
    height: auto;
    margin-top: 13px;
    margin-left: 20px;
}
.tengen{
    float: right;
    list-style: none;
    margin-top: 20px;
    margin-right: 25px;
}
.tengen li{
    display: inline-block;
}
.tengen li a{
    color: white;
    text-decoration: none;
    margin-left: 18px;
    margin-right: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
}
.tengen li.dibuka a{
    border-bottom: 1px white solid;
    padding-bottom: 23px;
}
.tengen li a:hover{
    background-color: rgba(163, 163, 163, 0.5);
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 23px;
    padding-top: 20px;
    margin-left: 4px;
    margin-right: 4px;
}
.tengen li.keluar a{
    border-bottom: 1px lightblue solid;
    padding-bottom: 23px;
}
.isi{
    height: 500px;
    margin-top: 10px;
    background-color: white;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}
.satu{
    position: absolute;
}
.satu p{
    border-bottom: 2px rgba(0, 0, 0, 0.137)solid;
    padding-bottom: 3px;
    padding-right: 300px;
}
.isi img{
    width: 20px;
    margin-left:20px;
    display: block;
    margin-bottom: 20px;
}
.dua{
    margin-left: 275px;
    position: absolute;
} 
.tiga{
    margin-left: 340px;
    margin-top:36px;
}
.konten{
    margin-left:450px;
    margin-top:90px;
}
.judul{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.isi button{
    background: rgb(0, 191, 255);
    color: white;
    padding-top: 11px;
    padding-bottom: 11px;
    border:0;
    border-radius: 20%;
    margin-top: 10px;
    width: 52%;
}
.isi button:hover{
    border-radius: 0%;
    transition: 1s;
}
.isi a{
    text-decoration: none;
    color: white;
    padding-top: 11px;
    padding-bottom: 11px;
}
footer ul{
    display: inline;
    list-style: none;
    padding: 0;
}
footer li img{
    width: 30px;
}
footer li{
    display: inline;
}
footer p{
    margin-top: 5;
}
footer{
    text-align: center;
    background:rgb(32, 32, 32);
    height: 40px;
    padding-top: 10px;
}